<div class="main" fxLayout="row">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <div class="main-bg-video">
      <video autoplay muted loop class="main-bg-video__content">
        <source src="../../assets/shoes.mp4" />
        Your browser isn't supported!
      </video>
    </div>
    <h1 class="clr" fxLayoutAlign="center center">
      <i>Tehran Hype</i>
    </h1>
    <!-- <div class="main-btn-position" fxLayoutAlign="start center">
      <a
        href="https://www.instagram.com/soroushby/?hl=en"
        class="main-btn main-btn-white"
        >follow us &rarr;</a
      >
    </div> -->
  </div>
</div>

<div class="main2">
  <mat-card class="main2-card" fxLayoutAlign="center center" fxLayout="column">
    hhhhhhhhhhhhhhh
  </mat-card>
</div>

<div class="main3">
  <mat-grid-list class="main3-grid-list" cols="2" fxHide.lt-md rowHeight="2:1">
    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h1>About us</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main3-grid-list">
          <p>
            Emit started it's work on 2018 in Iran and Canada with the most
            modern technologies in web Design as we mentioned in skills section.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h1>Contact Us</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main3-grid-list">
          <div fxLayoutGap="1rem" fxLayoutAlign="center center ">
            <img src="../../assets/phone-fill.svg" alt="computer icon" /><span
              >+1 888888888</span
            >
          </div>
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img src="../../assets/mail-fill.svg" alt="computer icon" /><span
              >Sorosh.bayanati@yahoo.com</span
            >
          </div>
        </mat-card-content>
        <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
          <img src="../../assets/whatsapp-line.svg" alt="computer icon" /><span
            >+1(403)9032374</span
          >
        </div>

        <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
          <img src="../../assets/instagram-line.svg" alt="computer icon" />
          <span>Soroushby</span>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    fxHide.gt-md
    fxHide.md
    class="grid-list"
    cols="1"
    rowHeight="1:1"
  >
    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>About us</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Emit started it's work on 2018 in Iran and Canada with the most
            modern technologies in web Design as we mentioned in skills section.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h1>Contact Us</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main3-grid-list">
          <div fxLayoutGap="1rem" fxLayoutAlign="center center ">
            <img src="../../assets/phone-line.svg" alt="computer icon" /><span
              >+1 888888888</span
            >
          </div>
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img src="../../assets/mail-line.svg" alt="computer icon" /><span
              >Sorosh.bayanati@yahoo.com</span
            >
          </div>
        </mat-card-content>
        <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
          <img src="../../assets/whatsapp-line.svg" alt="computer icon" /><span
            >+1(403)9032374</span
          >
        </div>

        <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
          <img src="../../assets/instagram-line.svg" alt="computer icon" />
          <span>Soroushby</span>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
